In [1]:
import sqlite3
import pandas as pd

In [2]:
csv_file_path = '/Users/hazelmena/Desktop/stock-market-on-lockdown/combined_file.csv'

In [3]:
conn = sqlite3.connect('stockmarket.db')

In [4]:
cursor = conn.cursor()

In [5]:
table_names = ['AMZN', 'AXP', 'MRK', 'HSBC', 'UNH', 'BAC', 'HD', 'MCK', 'TGT', 'SPOT', 'META', 'LULU', 'SNAP', 'GOOG', 'JNJ', 'MS', 'PINS', 'WFC', 'WSM', 'LLY']

In [6]:
for table_name in table_names:
    cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} (id INTEGER PRIMARY KEY, 'Stock Name' TEXT UNIQUE NOT NULL, date VARCHAR(10), open DECIMAL(10, 2), high DECIMAL(10, 2), low DECIMAL(10, 2), close DECIMAL(10, 2), volume Int);")

In [7]:
df = pd.read_csv(csv_file_path)

In [8]:
for table_name in table_names:
    # Filter the DataFrame based on 'Stock Name' before inserting
    df_table = df[df['Stock Name'] == table_name]

    if not df_table.empty:
        df_table.to_sql(table_name, conn, if_exists='replace', index=False)
    else:
        print(f"No data found for table '{table_name}'")

In [9]:
conn.commit()

In [10]:
conn.close()