In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('stockmarket.db')

In [3]:
cursor = conn.cursor()

In [4]:
table_creation_statements = [
 '''CREATE TABLE amzn (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume VARCHAR(50)
);''',
 '''CREATE TABLE axp (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE mrk (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE hsbc (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE unh (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE bac (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE hd (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE mck (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE tgt (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE spot (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE meta (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE lulu (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE snap (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE goog (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE jnj (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE ms (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date  VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE pins (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE wfc (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE wsm (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);''',
 '''CREATE TABLE lly (
    id INTEGER PRIMARY KEY,
    Stock Name TEXT UNIQUE NOT NULL,
    date VARCHAR(10),
    open DECIMAL(10, 2),
    high DECIMAL(10, 2),
    low DECIMAL(10, 2),
    close DECIMAL(10, 2),
    volume Int
);'''
]

In [5]:
for statement in table_creation_statements:
    cursor.execute(statement)

In [6]:
conn.commit()

In [7]:
conn.close()